.sidebar {
  width: 300px;
  margin-right: 30px;
  border: 2px solid #17e;
  border-radius: 30px;
  padding: 20px;
}
.sidebar div {
  display: flex;
  align-items: center;
  color: #0a4a93;
  margin-bottom: 15px;
}
.sidebar div svg {
  font-size: 1.3rem;
  margin-right: 5px;
}
.sidebar div span {
  color: grey;
  margin-left: 10px;
}
.sidebar button {
  width: 100%;
  margin-top: 40px;
  background-color: #17e;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .sidebar {
    width: 200px;
    margin-right: 20px;
    border: 2px solid #17e;
    border-radius: 30px;
    padding: 10px;
  }
  .sidebar div {
    display: flex;
    align-items: center;
    color: #0a4a93;
    margin-bottom: 8px;
  }
  .sidebar div svg {
    font-size: 0.75rem;
    margin-right: 8px;
  }
  .sidebar div span {
    color: grey;
    margin-left: 8px;
  }
  .sidebar button {
    width: 100%;
    margin-top: 20px;
    background-color: #17e;
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
  }
}
