.search {
  margin: 0 10px 50px;
}
.search input {
  border: 2px dashed #1e05dc96;
  padding: 10px;
  width: 250px;
  font-size: 0.9rem;
  color: black;
  border-radius: 10px;
  margin-right: 10px;
}
.search input:focus {
  outline: none;
}

.search button {
  padding: 10px;
  font-size: 1rem;
  background-color: #0c05dc;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.search button:hover {
  color: black;
}
